## Configuración inical.

**Importamos librerías.**

In [1]:
import tweepy

import config

from src.extraction_functions import *

import pandas as pd

**Nos autenticamos con nuestros tokens a través de nuestra función para configurar el cliente.**

In [2]:
getClient()

## Nike related Tweets.

**Extraemos los tweets en los que se menciona a Nike.**

En la query configuramos que se descarten los retweets (buscamos tweets originales y nos evitamos posibles tweets duplicados) y que el texto sea en inglés (nos ofrecerá resultados mucho mejores en el modelo de NLP).

In [ ]:
query_results = single_searchTweets('nike -is:retweet lang:en')[0]
token = single_searchTweets('nike -is:retweet lang:en')[1]

query = ['setting','while']

while query[1]:
    query = all_searchTweets('nike -is:retweet lang:en', token)
    print(query[1])  # Para comprobar que funciona.
    query_results += query[0]
    token = query[1]

In [12]:
len(query_results) # Hemos recopilado un total de 29.804 tweets en los que se menciona a Nike.

29804

**Exportamos los datos de Nike a un archivo csv.**

In [24]:
nike_df = pd.DataFrame(query_results)

nike_df.to_csv('data/nike.csv')

In [46]:
nike_df.head()

,id,text,date,author_id
0,1499705431329017864,@ZubyMusic @LPMisesCaucus Nobody cares about N...,2022-03-04 11:16:52+00:00,949655415658336256
1,1499705375129366530,@PoojaPraharaj @IndiainUkraine @PMOIndia @MEAI...,2022-03-04 11:16:39+00:00,1097779100670779392
2,1499705344259506179,@DocumentWomen Nike Okundaye. Also knowns Nike...,2022-03-04 11:16:31+00:00,1213598509166804992
3,1499705294359777286,Day 4 of #maxmadness #AirMaxMonth \nNike Air M...,2022-03-04 11:16:20+00:00,1334875428172034049
4,1499705239888449538,@MagMr44 @soleguru @nikestore @Nike @SneakerAd...,2022-03-04 11:16:07+00:00,1649250498

## Adidas related Tweets.

**Extraemos los tweets en los que se menciona a Adidas.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
query_results = single_searchTweets('adidas -is:retweet lang:en')[0]
token = single_searchTweets('adidas -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 29804:    # Fijamos el mismo número de tweets que los obtenidos para Nike.
    query = all_searchTweets('nike -is:retweet lang:en', token)
    print(query[1])   # Para comprobar que funciona.
    query_results += query[0]
    token = query[1]

In [42]:
len(query_results)

29816

**Exportamos los datos de Adidas a un archivo csv.**

In [43]:
adidas_df = pd.DataFrame(query_results)

adidas_df.to_csv('data/adidas.csv')

In [45]:
adidas_df.head()

,id,text,date,author_id
0,1499737235675140098,@Coop8517 Because my lad is a div he won't wea...,2022-03-04 13:23:15+00:00,222816617
1,1499737227760259077,"@shirtsinthshire beside wrong nameset, its lik...",2022-03-04 13:23:13+00:00,1258109697975934976
2,1499737070461665286,@ChefLerrie @Jakjakph1 Yes dude sa Adidas webs...,2022-03-04 13:22:36+00:00,825235525963386880
3,1499736971912130560,Footlocker is solely focusing on only selling ...,2022-03-04 13:22:12+00:00,1976820866
4,1499736937753575427,adidas Yeezy Boost 350 Pirate Black V1 (Infant...,2022-03-04 13:22:04+00:00,1456387795614724100

## Asics related Tweets.

**Extraemos los tweets en los que se menciona a Asics.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [20]:
query_results = single_searchTweets('asics -is:retweet lang:en')[0]
token = single_searchTweets('asics -is:retweet lang:en')[1]

query = ['setting','while']

# Asics es una marca que se menciona mucho menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 2000 tweets como muestra para el estudio.

while len(query_results) < 1950: 
    query = all_searchTweets('asics -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [21]:
len(query_results)

1999

**Exportamos los datos de Asics a un archivo csv.**

In [22]:
asics_df = pd.DataFrame(query_results)

asics_df.to_csv('data/asics.csv')

In [25]:
asics_df.head()

,id,text,date,author_id
0,1501239745518702594,@LadyLibertas76 Probably around $90 for a pair...,2022-03-08 16:53:41+00:00,153109119
1,1501239693492559880,"@surferliv Hi, Thanks for your message, we're ...",2022-03-08 16:53:29+00:00,3651405317
2,1501237770806833157,@knivd @aradiogurl The fun about it is that th...,2022-03-08 16:45:50+00:00,2262329527
3,1501233975913713665,Check out this listing I just added to my #Pos...,2022-03-08 16:30:46+00:00,1495417692483772416
4,1501233341437136898,Check out this listing I just added to my #Pos...,2022-03-08 16:28:14+00:00,1495417692483772416

## Reebok related Tweets.

**Extraemos los tweets en los que se menciona a Reebok.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [33]:
query_results = single_searchTweets('reebok -is:retweet lang:en')[0]
token = single_searchTweets('reebok -is:retweet lang:en')[1]

query = ['setting','while']

# Reebok es una marca que se menciona mucho menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 2000 tweets como muestra para el estudio.

while len(query_results) < 1950: 
    query = all_searchTweets('reebok -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [34]:
len(query_results)

1996

**Exportamos los datos de Reebok a un archivo csv.**

In [35]:
reebok_df = pd.DataFrame(query_results)

reebok_df.to_csv('data/reebok.csv')

In [36]:
asics_df.head()

,id,text,date,author_id
0,1501239745518702594,@LadyLibertas76 Probably around $90 for a pair...,2022-03-08 16:53:41+00:00,153109119
1,1501239693492559880,"@surferliv Hi, Thanks for your message, we're ...",2022-03-08 16:53:29+00:00,3651405317
2,1501237770806833157,@knivd @aradiogurl The fun about it is that th...,2022-03-08 16:45:50+00:00,2262329527
3,1501233975913713665,Check out this listing I just added to my #Pos...,2022-03-08 16:30:46+00:00,1495417692483772416
4,1501233341437136898,Check out this listing I just added to my #Pos...,2022-03-08 16:28:14+00:00,1495417692483772416