# Tweets Extraction.

## Configuración inical.

**Importamos librerías.**

In [1]:
import tweepy

import config

from src.extraction_functions import *

import pandas as pd

**Nos autenticamos con nuestros tokens a través de nuestra función para configurar el cliente.**

In [2]:
getClient()

En realidad, este paso no es necesario porque la autenticación está incluida en las funciones de extracción que vamos a utilizar. No obstante, lo mostramos aquí para que tengamos en cuenta que debemos autenticarnos antes de hacer cualquier petición a la API de Twitter.

# Mercado del Equipamiento Deportivo.

## Nike related Tweets.

**Extraemos los tweets en los que se menciona a Nike.**

En la query configuramos que se descarten los retweets (buscamos tweets originales y nos evitamos posibles tweets duplicados) y que el texto sea en inglés (nos ofrecerá resultados mucho mejores en el modelo de NLP).

In [ ]:
nike_tweets = config_searchTweets('nike -is:retweet lang:en', 30000)

**Exportamos los datos de Nike a un archivo csv.**

In [24]:
nike_df = pd.DataFrame(nike_tweets)

nike_df.to_csv('data/nike.csv')

In [46]:
nike_df.head()

,id,text,date,author_id
0,1499705431329017864,@ZubyMusic @LPMisesCaucus Nobody cares about N...,2022-03-04 11:16:52+00:00,949655415658336256
1,1499705375129366530,@PoojaPraharaj @IndiainUkraine @PMOIndia @MEAI...,2022-03-04 11:16:39+00:00,1097779100670779392
2,1499705344259506179,@DocumentWomen Nike Okundaye. Also knowns Nike...,2022-03-04 11:16:31+00:00,1213598509166804992
3,1499705294359777286,Day 4 of #maxmadness #AirMaxMonth \nNike Air M...,2022-03-04 11:16:20+00:00,1334875428172034049
4,1499705239888449538,@MagMr44 @soleguru @nikestore @Nike @SneakerAd...,2022-03-04 11:16:07+00:00,1649250498

## Adidas related Tweets.

**Extraemos los tweets en los que se menciona a Adidas.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
adidas_tweets = config_searchTweets('adidas -is:retweet lang:en', 30000)

**Exportamos los datos de Adidas a un archivo csv.**

In [43]:
adidas_df = pd.DataFrame(adidas_tweets)

adidas_df.to_csv('data/adidas.csv')

In [45]:
adidas_df.head()

,id,text,date,author_id
0,1499737235675140098,@Coop8517 Because my lad is a div he won't wea...,2022-03-04 13:23:15+00:00,222816617
1,1499737227760259077,"@shirtsinthshire beside wrong nameset, its lik...",2022-03-04 13:23:13+00:00,1258109697975934976
2,1499737070461665286,@ChefLerrie @Jakjakph1 Yes dude sa Adidas webs...,2022-03-04 13:22:36+00:00,825235525963386880
3,1499736971912130560,Footlocker is solely focusing on only selling ...,2022-03-04 13:22:12+00:00,1976820866
4,1499736937753575427,adidas Yeezy Boost 350 Pirate Black V1 (Infant...,2022-03-04 13:22:04+00:00,1456387795614724100

## Asics related Tweets.

**Extraemos los tweets en los que se menciona a Asics.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
asics_tweets = config_searchTweets('asics -is:retweet lang:en', 1999)

# Asics es una marca que se menciona mucho menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 2000 tweets como muestra para el estudio.

**Exportamos los datos de Asics a un archivo csv.**

In [22]:
asics_df = pd.DataFrame(asics_tweets)

asics_df.to_csv('data/asics.csv')

In [25]:
asics_df.head()

,id,text,date,author_id
0,1501239745518702594,@LadyLibertas76 Probably around $90 for a pair...,2022-03-08 16:53:41+00:00,153109119
1,1501239693492559880,"@surferliv Hi, Thanks for your message, we're ...",2022-03-08 16:53:29+00:00,3651405317
2,1501237770806833157,@knivd @aradiogurl The fun about it is that th...,2022-03-08 16:45:50+00:00,2262329527
3,1501233975913713665,Check out this listing I just added to my #Pos...,2022-03-08 16:30:46+00:00,1495417692483772416
4,1501233341437136898,Check out this listing I just added to my #Pos...,2022-03-08 16:28:14+00:00,1495417692483772416

## Reebok related Tweets.

**Extraemos los tweets en los que se menciona a Reebok.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
reebok_tweets = config_searchTweets('reebok -is:retweet lang:en', 1999)

# Reebok es una marca que se menciona mucho menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 2000 tweets como muestra para el estudio.

**Exportamos los datos de Reebok a un archivo csv.**

In [35]:
reebok_df = pd.DataFrame(reebok_tweets)

reebok_df.to_csv('data/reebok.csv')

In [36]:
asics_df.head()

,id,text,date,author_id
0,1501239745518702594,@LadyLibertas76 Probably around $90 for a pair...,2022-03-08 16:53:41+00:00,153109119
1,1501239693492559880,"@surferliv Hi, Thanks for your message, we're ...",2022-03-08 16:53:29+00:00,3651405317
2,1501237770806833157,@knivd @aradiogurl The fun about it is that th...,2022-03-08 16:45:50+00:00,2262329527
3,1501233975913713665,Check out this listing I just added to my #Pos...,2022-03-08 16:30:46+00:00,1495417692483772416
4,1501233341437136898,Check out this listing I just added to my #Pos...,2022-03-08 16:28:14+00:00,1495417692483772416

## Skechers related Tweets.

**Extraemos los tweets en los que se menciona a Skechers.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
skechers_tweets = config_searchTweets('skechers -is:retweet lang:en', 1999)

# Skechers es una marca que se menciona mucho menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 2000 tweets como muestra para el estudio.

**Exportamos los datos de Skechers a un archivo csv.**

In [42]:
skechers_df = pd.DataFrame(skechers_tweets)

skechers_df.to_csv('data/skechers.csv')

In [43]:
skechers_df.head()

,id,text,date,author_id
0,1501280437028769801,I don’t think this is true his mother is heavy...,2022-03-08 19:35:23+00:00,21882237
1,1501280328635322372,╱ the skechers gif i’m crying 😭😭,2022-03-08 19:34:57+00:00,1489505644755439618
2,1501280104504201216,Skechers USA jumps after President added $3.9M...,2022-03-08 19:34:04+00:00,31372539
3,1501279345129623553,So good I had to share! Check out all the item...,2022-03-08 19:31:02+00:00,29310683
4,1501278534165315587,I was broke had it drippin in Skechers,2022-03-08 19:27:49+00:00,1006709699146862592

## Under Armour related Tweets.

**Extraemos los tweets en los que se menciona a Under Armour.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
under_armour_tweets = config_searchTweets('under armour -is:retweet lang:en', 1999)

# Under Armour es una marca que se menciona mucho menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 2000 tweets como muestra para el estudio.

**Exportamos los datos de Under Armour a un archivo csv.**

In [46]:
under_armour_df = pd.DataFrame(under_armour_tweets)

under_armour_df.to_csv('data/under_armour.csv')

In [47]:
under_armour_df.head()

,id,text,date,author_id
0,1501281507293474818,“ I would…appreciate the help with the armour....,2022-03-08 19:39:38+00:00,1496681219387531265
1,1501280393462304768,@EuphoriantForce Boots (Under Armour Stellar)\...,2022-03-08 19:35:12+00:00,3044972040
2,1501279248639741956,Under Armour NEW Blue Womens Size XL Compressi...,2022-03-08 19:30:39+00:00,1478247278452293632
3,1501278667342815239,Boycott Under Armour for Promoting Trophy-Hunt...,2022-03-08 19:28:21+00:00,871425486
4,1501277599326040066,Under Armour Men's Rival Fleece Big Logo Hoodi...,2022-03-08 19:24:06+00:00,763683643

## Umbro related Tweets.

**Extraemos los tweets en los que se menciona a Umbro.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
umbro_tweets = config_searchTweets('umbro -is:retweet lang:en', 700)

# Umbro es una marca que se menciona muy poco en twitter.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 700 tweets como muestra para el estudio.

**Exportamos los datos de Umbro a un archivo csv.**

In [92]:
umbro_df = pd.DataFrame(umbro_tweets[:-4])   # Evitamos los 4 últimos elementos ya que nos generan problemas.
                                             # (por un error de algún tipo en la API)
umbro_df.to_csv('data/umbro.csv')

umbro_df.head()

,id,text,date,author_id
0,1501286308647473162,@JeffreyLloydXXX @Orsini_Umbro Let s do flip f...,2022-03-08 19:58:43+00:00,1608621590
1,1501275823608762368,@sportbible Umbro ball 🤔,2022-03-08 19:17:03+00:00,714928319322529793
2,1501274191726723078,Manchester United Shirt 1992-1994 Umbro Small ...,2022-03-08 19:10:34+00:00,1433554131415752705
3,1501270662303862787,Celtic football shirt\n1999 away season \nLarg...,2022-03-08 18:56:32+00:00,1348705083136077829
4,1501269727708160000,@sid_lambert an umbro football..,2022-03-08 18:52:49+00:00,2445493100

## Puma related Tweets.

**Extraemos los tweets en los que se menciona a Puma.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [ ]:
puma_tweets = config_searchTweets('Puma -is:retweet lang:en', 5000)

# Puma es una marca que se menciona bastante en Twitter, pero menos que nike o adidas.
# (Recordemos que solo tenemos acceso a los tweets de la última semana).
# Extraemos alrededor de 5000 tweets como muestra para el estudio.

**Exportamos los datos de Puma a un archivo csv.**

In [102]:
puma_df = pd.DataFrame(puma_tweets)

puma_df.to_csv('data/puma.csv')

puma_df.head()

,id,text,date,author_id
0,1501293309381443584,#Puma is coming to Roblox. https://t.co/h2x1Wk...,2022-03-08 20:26:32+00:00,1385731994454163457
1,1501293282525163526,[RANKING BEST TXT CHOREOGRAPHIES] \n\n7. Puma ...,2022-03-08 20:26:25+00:00,1212749973210554373
2,1501293006254534656,@PUMA @CatBloxStudios LFG PUMA,2022-03-08 20:25:20+00:00,1465011517116456963
3,1501292937350631429,"Palestine is a feminist issue. @HP, @HPE, @AXA...",2022-03-08 20:25:03+00:00,866039509431062534
4,1501292906346430464,@kappie777 @PUMA @PUMASouthAfrica Happy women'...,2022-03-08 20:24:56+00:00,1492584056831291392