# Tweets Extraction.

## Configuración inical.

**Importamos librerías.**

In [1]:
import tweepy

import config

from src.extraction_functions import *

import pandas as pd

**Nos autenticamos con nuestros tokens a través de nuestra función para configurar el cliente.**

In [2]:
getClient()

# Sector del Automóvil.

Ahora probaremos con la comparación de competidores en el sector del automóvil, un marco más amplio que el mercado de ropa deportiva. Comprobaremos si encontramos mayores diferencias entre las marcas, ya que se asume una mayor variedad en la percepción acerca de las mismas.

## BMW related Tweets.

**Extraemos los tweets en los que se menciona a BMW.**

En la query configuramos que se descarten los retweets (buscamos tweets originales y nos evitamos posibles tweets duplicados) y que el texto sea en inglés (nos ofrecerá resultados mucho mejores en el modelo de NLP).

In [3]:
query_results = single_searchTweets('bmw -is:retweet lang:en')[0]
token = single_searchTweets('bmw -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:  # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('bmw -is:retweet lang:en', token)
    #print(query[1])  # Para comprobar que funciona.
    query_results += query[0]
    token = query[1]

In [4]:
len(query_results) # Hemos recopilado un total de 29.804 tweets en los que se menciona a Nike.

5090

**Exportamos los datos de BMW a un archivo csv.**

In [6]:
bmw_df = pd.DataFrame(query_results)

bmw_df.to_csv('data/bmw.csv')

In [7]:
bmw_df.head()

,id,text,date,author_id
0,1501492384907108353,@EternityWalker @AnneGreen545 I was told by bm...,2022-03-09 09:37:35+00:00,1244219536561315841
1,1501492239058489347,A new listing for BMW E28 M5 engine has been p...,2022-03-09 09:37:00+00:00,1623181249
2,1501492190589198337,@TheBishF1 He only led a few hundert meters at...,2022-03-09 09:36:49+00:00,244015323
3,1501492006874406913,"@StyleLatvia @markito0171 Russians making ""BMW...",2022-03-09 09:36:05+00:00,1395817125810483203
4,1501491913278758914,does anyone want to hati? will just get doyoun...,2022-03-09 09:35:43+00:00,954860245100056578

## Audi related Tweets.

**Extraemos los tweets en los que se menciona a Audi.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [57]:
query_results = single_searchTweets('audi -is:retweet lang:en')[0]
token = single_searchTweets('audi -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:    # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('audi -is:retweet lang:en', token)
    #print(query[1])   # Para comprobar que funciona.
    query_results += query[0]
    token = query[1]

In [58]:
len(query_results)

5091

**Exportamos los datos de Audi a un archivo csv.**

In [59]:
audi_df = pd.DataFrame(query_results)

audi_df.to_csv('data/audi.csv')

In [60]:
audi_df.head()

,id,text,date,author_id
0,1501512394794622980,https://t.co/mChdxNZSfD AUDI R8C SICA01B EU LE...,2022-03-09 10:57:06+00:00,1394703072010522627
1,1501512225542250501,WTS ( want to sell )\nTiket PTD BTS CGV\nAeon ...,2022-03-09 10:56:25+00:00,1358096062519513088
2,1501512035036811264,#New Scratch Repair Agent Viscous Scar Remove ...,2022-03-09 10:55:40+00:00,1213500998750101504
3,1501511669872271360,@Audi The money U charge for the product U del...,2022-03-09 10:54:13+00:00,49336439
4,1501511181453856768,#ETBookingUpdate ~ #Coimbatore Karpagam Comple...,2022-03-09 10:52:17+00:00,713683031194738688

In [61]:
audi_df.to_pickle('data/audi.pkl')   # El csv nos da problemas así que optamos por exportan en Pickle.

## Volkswagen related Tweets.

**Extraemos los tweets en los que se menciona a Volkswagen.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [13]:
query_results = single_searchTweets('volkswagen -is:retweet lang:en')[0]
token = single_searchTweets('volkswagen -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:   # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('volkswagen -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [14]:
len(query_results)

5093

**Exportamos los datos de Volkswagen a un archivo csv.**

In [16]:
volkswagen_df = pd.DataFrame(query_results)

volkswagen_df.to_csv('data/volkswagen.csv')

In [17]:
volkswagen_df.head()

,id,text,date,author_id
0,1501492884901613569,Just Arrived !!! Volkswagen Tiguan 2.0 Diesel ...,2022-03-09 09:39:34+00:00,1199702894657908736
1,1501492091884490756,Glimpses of Women's Day Celebrations at Autoba...,2022-03-09 09:36:25+00:00,1264132103224074240
2,1501492081738539009,MARSHALL #VOLKSWAGEN VIP 4 DAY SALES EVENT – S...,2022-03-09 09:36:23+00:00,491129466
3,1501491816981401603,Volkswagen presents their all-new model Virtus...,2022-03-09 09:35:20+00:00,799127382997118977
4,1501491756113666048,2Pcs Roof Rail Racks Cross Bars Crossbars Fits...,2022-03-09 09:35:05+00:00,1403128435757633536

## Renault related Tweets.

**Extraemos los tweets en los que se menciona a Renault.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [22]:
query_results = single_searchTweets('renault -is:retweet lang:en')[0]
token = single_searchTweets('renault -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 3805:   # Extraemos alrededor de 4000 tweets. 
    query = all_searchTweets('renault -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [23]:
len(query_results)

3897

**Exportamos los datos de Renault a un archivo csv.**

In [24]:
renault_df = pd.DaRenaulttaFrame(query_results)

renault_df.to_csv('data/renault.csv')

In [25]:
renault_df.head()

,id,text,date,author_id
0,1501494684174147585,@Ianbarnes2001 @sheridan100_a @EnfieldCouncil ...,2022-03-09 09:46:43+00:00,1433310379191508992
1,1501493979598184460,@fo11owthe1ight @EnfieldCouncil @renault_uk Th...,2022-03-09 09:43:55+00:00,1433310379191508992
2,1501493093203591171,Some talented directors need to move their ass...,2022-03-09 09:40:24+00:00,1098730037900013568
3,1501492993114746881,An extra 25% of people are now more likely to ...,2022-03-09 09:40:00+00:00,18551380
4,1501492820628099073,@timalmond @whitesundesert @streetwiseprof Wel...,2022-03-09 09:39:19+00:00,79949872

## Fiat related Tweets.

**Extraemos los tweets en los que se menciona a Fiat.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [26]:
query_results = single_searchTweets('fiat -is:retweet lang:en')[0]
token = single_searchTweets('fiat -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:    # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('fiat -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [27]:
len(query_results)

5098

**Exportamos los datos de Fiat a un archivo csv.**

In [28]:
fiat_df = pd.DataFrame(query_results)

fiat_df.to_csv('data/fiat.csv')

In [29]:
fiat_df.head()

,id,text,date,author_id
0,1501495951260749826,@TheMoonCarl #RoboWallet converts crypto to fi...,2022-03-09 09:51:45+00:00,1491003663396982786
1,1501495905660256270,@TapasCrypto @RoboInuFinance ROBO INU FINANCE ...,2022-03-09 09:51:35+00:00,1461047833260281860
2,1501495895778476034,Fiat Panda 1.0 GSE Hybrid Cross https://t.co/f...,2022-03-09 09:51:32+00:00,1466523775898251269
3,1501495875885056000,"@TheVladCostea noun, the fiat\nverb, to fiat\n...",2022-03-09 09:51:27+00:00,1362359441799213056
4,1501495764798754816,Convert as much fiat into #Bitcoin as you can...,2022-03-09 09:51:01+00:00,1494171322519281665

## Ferrari related Tweets.

**Extraemos los tweets en los que se menciona a Ferrari.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [32]:
query_results = single_searchTweets('ferrari -is:retweet lang:en')[0]
token = single_searchTweets('ferrari -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 550:   # Extraemos alrededor de 600 tweets.
    query = all_searchTweets('ferrari -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [33]:
len(query_results)

600

**Exportamos los datos de Ferrari a un archivo csv.**

In [34]:
ferrari_df = pd.DataFrame(query_results)

ferrari_df.to_csv('data/ferrari.csv')

In [35]:
ferrari_df.head()

,id,text,date,author_id
0,1501496806970060801,@1Adhughes @Tessasoldestson Mercedes achieved ...,2022-03-09 09:55:09+00:00,1000211253632028672
1,1501496805409923075,If this rumour was about Ferrari nobody would ...,2022-03-09 09:55:09+00:00,1334094218306985984
2,1501496631362920452,@sunnysideseb aaahhhh thank you so much bestie...,2022-03-09 09:54:28+00:00,2917454215
3,1501496571044802561,Motorsport Italia: Scuderia Ferrari successful...,2022-03-09 09:54:13+00:00,486720661
4,1501496404631601153,@LBC Nick Ferrari using Ukraine as an excuse t...,2022-03-09 09:53:33+00:00,1427345963128086529

## Lamborghini related Tweets.

**Extraemos los tweets en los que se menciona a Lamborghini.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [36]:
query_results = single_searchTweets('lamborghini -is:retweet lang:en')[0]
token = single_searchTweets('lamborghini -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:    # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('lamborghini -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [37]:
len(query_results)

5088

**Exportamos los datos de Lamborghini a un archivo csv.**

In [38]:
lamborghini_df = pd.DataFrame(query_results[:-4])

lamborghini_df.to_csv('data/lamborghini.csv')

lamborghini_df.head()

,id,text,date,author_id
0,1501496612526469123,@WholeMarsBlog @elonmusk this is getting old.....,2022-03-09 09:54:23+00:00,755421537952526340
1,1501496356170776578,@cibaiken @StarLinkETH @woof_decentra @Samsung...,2022-03-09 09:53:22+00:00,1447450788834394117
2,1501496307948658690,@davidgokhshtein new coin did great things @sh...,2022-03-09 09:53:10+00:00,1499051959193677830
3,1501496235882074113,@Crypto__Diva new coin did great things @shibt...,2022-03-09 09:52:53+00:00,1499051959193677830
4,1501496127958441988,@kucoincom @MetisDAO @thewastedlands @ideaolog...,2022-03-09 09:52:28+00:00,1499051959193677830

## Hyundai related Tweets.

**Extraemos los tweets en los que se menciona a Hyundai.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [39]:
query_results = single_searchTweets('hyundai -is:retweet lang:en')[0]
token = single_searchTweets('hyundai -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:    # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('hyundai -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [40]:
len(query_results)

5093

**Exportamos los datos de Hyundai a un archivo csv.**

In [41]:
hyundai_df = pd.DataFrame(query_results)

hyundai_df.to_csv('data/hyundai.csv')

hyundai_df.head()

,id,text,date,author_id
0,1501497758464856064,"@Liberebil @CarsSouthAfrica No, we get the sta...",2022-03-09 09:58:56+00:00,431622430
1,1501497209862434816,Hyundai and Haval are competing mbela,2022-03-09 09:56:45+00:00,1188256319993724929
2,1501497172759621632,@GreenpeaceEAsia @Greenpeace @ToyotaMotorCorp ...,2022-03-09 09:56:37+00:00,449173094
3,1501496711390375939,HYUNDAI-ACCENT/XCENT-DISC ASSY-CLUTCH-41100262...,2022-03-09 09:54:47+00:00,37198225
4,1501496610014089219,Hyundai i20 lovers \n\nJust pay as little as R...,2022-03-09 09:54:22+00:00,1181492902905692160

## Peugeot related Tweets.

**Extraemos los tweets en los que se menciona a Peugeot.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [44]:
query_results = single_searchTweets('peugeot -is:retweet lang:en')[0]
token = single_searchTweets('peugeot -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 1550:    # Extraemos alrededor de 1600 tweets.
    query = all_searchTweets('peugeot -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [45]:
len(query_results)

1597

**Exportamos los datos de Peugeot a un archivo csv.**

In [46]:
peugeot_df = pd.DataFrame(query_results)

peugeot_df.to_csv('data/peugeot.csv')

peugeot_df.head()

,id,text,date,author_id
0,1501497451160739842,@Space_Robot1 @eyeguy_one I experienced this l...,2022-03-09 09:57:43+00:00,376779374
1,1501496536911470592,@AllegoCharging I am trying to request a charg...,2022-03-09 09:54:05+00:00,195416818
2,1501495889931935749,@czechidiot @jackbyrne77 @Formula_Nerds @Jonas...,2022-03-09 09:51:31+00:00,79259849
3,1501494131880775682,@JonasHut I have a hard time seeing him take t...,2022-03-09 09:44:32+00:00,548610788
4,1501492883240759299,Peugeot 308 Raih Predikat Women’s World Car of...,2022-03-09 09:39:34+00:00,2336466469

## Ford related Tweets.

**Extraemos los tweets en los que se menciona a Ford.**

De nuevo, configuramos la query para descartar los retweets y extraer únicamente los tweets en los que el texto sea en inglés.

In [49]:
query_results = single_searchTweets('ford -is:retweet lang:en')[0]
token = single_searchTweets('ford -is:retweet lang:en')[1]

query = ['setting','while']

while len(query_results) < 5000:    # Extraemos alrededor de 5000 tweets.
    query = all_searchTweets('ford -is:retweet lang:en', token)
    #print(query[1])
    query_results += query[0]
    token = query[1]

In [50]:
len(query_results)

5093

**Exportamos los datos de Ford a un archivo csv.**

In [51]:
ford_df = pd.DataFrame(query_results)

ford_df.to_csv('data/ford.csv')

ford_df.head()

,id,text,date,author_id
0,1501500100853518337,We're incredibly excited to be boosting the Lo...,2022-03-09 10:08:15+00:00,67617769
1,1501500056934879233,32NN66D Engine Cooling Fan Module Fits 2007-20...,2022-03-09 10:08:04+00:00,1375565959449047042
2,1501500053474590721,68XQ36C Inlet and Outlet Assembly Oil Cooler H...,2022-03-09 10:08:03+00:00,1375580130139983872
3,1501500051687837698,COVERKING CSC2S1-FD7258 Spacermesh Seat Covers...,2022-03-09 10:08:03+00:00,1394750790993018881
4,1501500051062886403,Motorcraft 76YC88M Idle Air Control Valve Fits...,2022-03-09 10:08:03+00:00,1337183001860456448