# Data Cleaning.

In [1]:
import pandas as pd

from src.cleaning_functions import *

from src.text_functions import *

**ÍNDICE:**
1. BMW data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



2. Audi data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



3. Volkswagen data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



4. Renault data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



5. Fiat data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



6. Ferrari data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



7. Lamborghini data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



8. Hyundai data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.
    
    

9. Peugeot data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



10. Ford data.
    - Exploración inicial de los datos.
    - Hashtags.
    - Preparing Data.
    - Subsets.



11. Dataset Completo.

## BMW data.

In [2]:
bmw = pd.read_csv('data/bmw.csv')

In [3]:
bmw_tw = pd.DataFrame(bmw.text)

### Exploración inicial de los datos:

In [4]:
bmw_tw.shape

(5090, 1)

In [5]:
bmw_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5090 entries, 0 to 5089
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5090 non-null   object
dtypes: object(1)
memory usage: 39.9+ KB

In [6]:
bmw_tw.describe()

                                                     text
count                                                5090
unique                                               5066
top     @PowerPixelNFTs Buy one of our NFTs and get th...
freq                                                    9

In [7]:
bmw_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [8]:
bmw_tw.duplicated().sum() # Encontramos 24 valores duplicados.

24

In [9]:
drop_duplicates(bmw_tw) # Eliminamos los valores duplicados.

In [10]:
bmw_tw.shape

(5066, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

*Posibles aplicaciones de este análisis:*
- *Análisis del sentimiento de la conversación en torno a un hashtag específico (nos permite analizar la percepción acerca de una campaña online, un evento en directo o similares).*


- *Ranking de hashtags con mayor sentimiento positivo o negativo.*


- *Análisis de utilización de hashtags: podemos analizar elementos más básicos como los hashtags más frecuentes o incluso cruzarlo con otros datos extraídos (datetime de publicación, usuarios que publican el tweet...) para llegar a conclusiones relevantes.*

In [11]:
bmw_tw['hashtags'] = bmw_tw.text.apply(extract_hashtags)

In [12]:
bmw_tw.head()

                                                text hashtags
0  @EternityWalker @AnneGreen545 I was told by bm...       []
1  A new listing for BMW E28 M5 engine has been p...       []
2  @TheBishF1 He only led a few hundert meters at...       []
3  @StyleLatvia @markito0171 Russians making "BMW...       []
4  does anyone want to hati? will just get doyoun...       []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [13]:
bmw_tw.head()

                                                text hashtags
0  @EternityWalker @AnneGreen545 I was told by bm...       []
1  A new listing for BMW E28 M5 engine has been p...       []
2  @TheBishF1 He only led a few hundert meters at...       []
3  @StyleLatvia @markito0171 Russians making "BMW...       []
4  does anyone want to hati? will just get doyoun...       []

In [14]:
bmw_tw['text'] = bmw_tw.text.apply(basic_cleaning)

In [15]:
bmw_tw.head()

                                                text hashtags
0  i was told by bmw you need to replace the batt...       []
1  a new listing for bmw e two eight m five engin...       []
2  he only led a few hundert meters at the austri...       []
3  russians making bmw seeking missiles it s over...       []
4  does anyone want to hati will just get doyoung...       []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [16]:
bmw_tw['brand_attribute'] = bmw_tw['text'].apply(data_groups)

In [17]:
bmw_tw.head()

                                                text hashtags brand_attribute
0  i was told by bmw you need to replace the batt...       []         quality
1  a new listing for bmw e two eight m five engin...       []         quality
2  he only led a few hundert meters at the austri...       []         quality
3  russians making bmw seeking missiles it s over...       []         quality
4  does anyone want to hati will just get doyoung...       []         quality

In [18]:
bmw_tw.brand_attribute.value_counts()

quality    3833
price      1233
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [19]:
bmw_price = pd.DataFrame(bmw_tw.where(bmw_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [20]:
bmw_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [21]:
bmw_price.shape

(1233, 2)

In [22]:
# Exportamos el subset de precio.

bmw_price.to_csv('data/bmw_price.csv', index = False)

    2.2. Calidad:

In [23]:
bmw_quality = pd.DataFrame(bmw_tw.where(bmw_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [24]:
bmw_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [25]:
bmw_quality.shape

(3833, 2)

In [26]:
# Exportamos el subset de calidad.

bmw_quality.to_csv('data/bmw_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Audi data.

In [35]:
audi = pd.read_pickle('data/audi.pkl')

In [36]:
audi_tw = pd.DataFrame(audi.text)

### Exploración inicial de los datos:

In [37]:
audi_tw.shape

(5091, 1)

In [38]:
audi_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5091 entries, 0 to 5090
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5091 non-null   object
dtypes: object(1)
memory usage: 39.9+ KB

In [39]:
audi_tw.describe()

                                                     text
count                                                5091
unique                                               5062
top     An Ohio woman’s Audi was stolen and returned w...
freq                                                    6

In [40]:
audi_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [41]:
audi_tw.duplicated().sum() # Encontramos 29 valores duplicados.

29

In [42]:
drop_duplicates(audi_tw) # Eliminamos los valores duplicados.

In [43]:
audi_tw.shape

(5062, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [44]:
audi_tw['hashtags'] = audi_tw.text.apply(extract_hashtags)

In [45]:
audi_tw.head()

,text,hashtags
0,https://t.co/mChdxNZSfD AUDI R8C SICA01B EU LE...,[]
1,WTS ( want to sell )\nTiket PTD BTS CGV\nAeon ...,[]
2,#New Scratch Repair Agent Viscous Scar Remove ...,"[#New, #audi, #autos, #vehicle, #bhfyp]"
3,@Audi The money U charge for the product U del...,[]
4,#ETBookingUpdate ~ #Coimbatore Karpagam Comple...,"[#ETBookingUpdate, #Coimbatore, #EtharkkumThun..."

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [46]:
audi_tw.head()

,text,hashtags
0,https://t.co/mChdxNZSfD AUDI R8C SICA01B EU LE...,[]
1,WTS ( want to sell )\nTiket PTD BTS CGV\nAeon ...,[]
2,#New Scratch Repair Agent Viscous Scar Remove ...,"[#New, #audi, #autos, #vehicle, #bhfyp]"
3,@Audi The money U charge for the product U del...,[]
4,#ETBookingUpdate ~ #Coimbatore Karpagam Comple...,"[#ETBookingUpdate, #Coimbatore, #EtharkkumThun..."

In [47]:
audi_tw['text'] = audi_tw.text.apply(basic_cleaning)

In [48]:
audi_tw.head()

,text,hashtags
0,audi r eightc sica zero oneb eu le mans nine n...,[]
1,wts want to sell tiket ptd bts cgv aeon mall j...,[]
2,new scratch repair agent viscous scar remove q...,"[#New, #audi, #autos, #vehicle, #bhfyp]"
3,the money u charge for the product u deliver i...,[]
4,e t booking update coimbatore karpagam complex...,"[#ETBookingUpdate, #Coimbatore, #EtharkkumThun..."

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Ahora llevaremos a cabo este proceso sobre los tweets que mencionan a Adidas.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [49]:
audi_tw['brand_attribute'] = audi_tw['text'].apply(data_groups)

In [50]:
audi_tw.head()

,text,hashtags,brand_attribute
0,audi r eightc sica zero oneb eu le mans nine n...,[],quality
1,wts want to sell tiket ptd bts cgv aeon mall j...,[],price
2,new scratch repair agent viscous scar remove q...,"[#New, #audi, #autos, #vehicle, #bhfyp]",price
3,the money u charge for the product u deliver i...,[],price
4,e t booking update coimbatore karpagam complex...,"[#ETBookingUpdate, #Coimbatore, #EtharkkumThun...",quality

In [51]:
audi_tw.brand_attribute.value_counts()

quality    4000
price      1062
Name: brand_attribute, dtype: int64

2. Generamos los subsets de Adidas (uno de calidad y otro de precio).

    2.1. Precio:

In [52]:
audi_price = pd.DataFrame(audi_tw.where(audi_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [53]:
audi_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [54]:
audi_price.shape

(1062, 2)

In [55]:
# Exportamos el subset de precio.

audi_price.to_csv('data/audi_price.csv', index = False)

    2.2. Calidad:

In [56]:
audi_quality = pd.DataFrame(audi_tw.where(audi_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [57]:
audi_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [58]:
audi_quality.shape

(4000, 2)

In [59]:
# Exportamos el subset de calidad.

audi_quality.to_csv('data/audi_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Volkswagen data.

In [60]:
volkswagen = pd.read_csv('data/volkswagen.csv')

In [61]:
volkswagen_tw = pd.DataFrame(volkswagen.text)

### Exploración inicial de los datos:

In [62]:
volkswagen_tw.shape

(5093, 1)

In [63]:
volkswagen_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5093 entries, 0 to 5092
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5093 non-null   object
dtypes: object(1)
memory usage: 39.9+ KB

In [64]:
volkswagen_tw.describe()

                                                     text
count                                                5093
unique                                               5026
top     Chandler:Take their hat!\nPhoebe:Popes in volk...
freq                                                   12

In [65]:
volkswagen_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [66]:
volkswagen_tw.duplicated().sum() # Encontramos 67 valores duplicados.

67

In [67]:
drop_duplicates(volkswagen_tw) # Eliminamos los valores duplicados.

In [68]:
volkswagen_tw.shape

(5026, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [69]:
volkswagen_tw['hashtags'] = volkswagen_tw.text.apply(extract_hashtags)

In [70]:
volkswagen_tw.head()

,text,hashtags
0,Just Arrived !!! Volkswagen Tiguan 2.0 Diesel ...,"[#UsedCars, #CarsForSale, #UsedCarsOxford, #Us..."
1,Glimpses of Women's Day Celebrations at Autoba...,"[#WomensDayCelebrations, #Celebrations]"
2,MARSHALL #VOLKSWAGEN VIP 4 DAY SALES EVENT – S...,[#VOLKSWAGEN]
3,Volkswagen presents their all-new model Virtus...,"[#PrintWorks, #PowerOfPrint, #PrintAdvertising..."
4,2Pcs Roof Rail Racks Cross Bars Crossbars Fits...,[]

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [71]:
volkswagen_tw.head()

,text,hashtags
0,Just Arrived !!! Volkswagen Tiguan 2.0 Diesel ...,"[#UsedCars, #CarsForSale, #UsedCarsOxford, #Us..."
1,Glimpses of Women's Day Celebrations at Autoba...,"[#WomensDayCelebrations, #Celebrations]"
2,MARSHALL #VOLKSWAGEN VIP 4 DAY SALES EVENT – S...,[#VOLKSWAGEN]
3,Volkswagen presents their all-new model Virtus...,"[#PrintWorks, #PowerOfPrint, #PrintAdvertising..."
4,2Pcs Roof Rail Racks Cross Bars Crossbars Fits...,[]

In [72]:
volkswagen_tw['text'] = volkswagen_tw.text.apply(basic_cleaning)

In [73]:
volkswagen_tw.head()

,text,hashtags
0,just arrived volkswagen tiguan two zero diesel...,"[#UsedCars, #CarsForSale, #UsedCarsOxford, #Us..."
1,glimpses of women s day celebrations at autoba...,"[#WomensDayCelebrations, #Celebrations]"
2,marshall v o l k s w a g e n vip four day sale...,[#VOLKSWAGEN]
3,volkswagen presents their all new model virtus...,"[#PrintWorks, #PowerOfPrint, #PrintAdvertising..."
4,twopcs roof rail racks cross bars crossbars fi...,[]

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [74]:
volkswagen_tw['brand_attribute'] = volkswagen_tw['text'].apply(data_groups)

In [75]:
volkswagen_tw.head()

,text,hashtags,brand_attribute
0,just arrived volkswagen tiguan two zero diesel...,"[#UsedCars, #CarsForSale, #UsedCarsOxford, #Us...",price
1,glimpses of women s day celebrations at autoba...,"[#WomensDayCelebrations, #Celebrations]",quality
2,marshall v o l k s w a g e n vip four day sale...,[#VOLKSWAGEN],price
3,volkswagen presents their all new model virtus...,"[#PrintWorks, #PowerOfPrint, #PrintAdvertising...",quality
4,twopcs roof rail racks cross bars crossbars fi...,[],price

In [76]:
volkswagen_tw.brand_attribute.value_counts()

quality    3686
price      1340
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [77]:
volkswagen_price = pd.DataFrame(volkswagen_tw.where(volkswagen_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [78]:
volkswagen_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [79]:
volkswagen_price.shape

(1340, 2)

In [80]:
# Exportamos el subset de precio.

volkswagen_price.to_csv('data/volkswagen_price.csv', index = False)

    2.2. Calidad:

In [81]:
volkswagen_quality = pd.DataFrame(volkswagen_tw.where(volkswagen_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [82]:
volkswagen_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [83]:
volkswagen_quality.shape

(3686, 2)

In [84]:
# Exportamos el subset de calidad.

volkswagen_quality.to_csv('data/volkswagen_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Renault data.

In [85]:
renault = pd.read_csv('data/renault.csv')

In [86]:
renault_tw = pd.DataFrame(renault.text)

### Exploración inicial de los datos:

In [87]:
renault_tw.shape

(3897, 1)

In [88]:
renault_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3897 entries, 0 to 3896
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3897 non-null   object
dtypes: object(1)
memory usage: 30.6+ KB

In [89]:
renault_tw.describe()

                                                  text
count                                             3897
unique                                            3805
top     I AM A FUCKING DUSTER ((Dacia ))Duster Renault
freq                                                18

In [90]:
renault_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [91]:
renault_tw.duplicated().sum() # Encontramos 92 valores duplicados.

92

In [92]:
drop_duplicates(renault_tw) # Eliminamos los valores duplicados.

In [93]:
renault_tw.shape

(3805, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [94]:
renault_tw['hashtags'] = renault_tw.text.apply(extract_hashtags)

In [95]:
renault_tw.head()

                                                text             hashtags
0  @Ianbarnes2001 @sheridan100_a @EnfieldCouncil ...                   []
1  @fo11owthe1ight @EnfieldCouncil @renault_uk Th...                   []
2  Some talented directors need to move their ass...                   []
3  An extra 25% of people are now more likely to ...  [#Google, #Renault]
4  @timalmond @whitesundesert @streetwiseprof Wel...                   []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [96]:
renault_tw.head()

                                                text             hashtags
0  @Ianbarnes2001 @sheridan100_a @EnfieldCouncil ...                   []
1  @fo11owthe1ight @EnfieldCouncil @renault_uk Th...                   []
2  Some talented directors need to move their ass...                   []
3  An extra 25% of people are now more likely to ...  [#Google, #Renault]
4  @timalmond @whitesundesert @streetwiseprof Wel...                   []

In [97]:
renault_tw['text'] = renault_tw.text.apply(basic_cleaning)

In [98]:
renault_tw.head()

                                                text             hashtags
0  aren t you the person who failed the applicati...                   []
1  there are far better recycling solutions avail...                   []
2  some talented directors need to move their ass...                   []
3  an extra two five of people are now more likel...  [#Google, #Renault]
4  well except the design of the moskvitch of cou...                   []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [99]:
renault_tw['brand_attribute'] = renault_tw['text'].apply(data_groups)

In [100]:
renault_tw.head()

,text,hashtags,brand_attribute
0,aren t you the person who failed the applicati...,[],quality
1,there are far better recycling solutions avail...,[],quality
2,some talented directors need to move their ass...,[],quality
3,an extra two five of people are now more likel...,"[#Google, #Renault]",price
4,well except the design of the moskvitch of cou...,[],quality

In [101]:
renault_tw.brand_attribute.value_counts()

quality    3018
price       787
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [102]:
renault_price = pd.DataFrame(renault_tw.where(renault_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [103]:
renault_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [104]:
renault_price.shape

(787, 2)

In [105]:
# Exportamos el subset de precio.

renault_price.to_csv('data/renault_price.csv', index = False)

    2.2. Calidad:

In [106]:
renault_quality = pd.DataFrame(renault_tw.where(renault_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [107]:
renault_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [108]:
renault_quality.shape

(3018, 2)

In [109]:
# Exportamos el subset de calidad.

renault_quality.to_csv('data/renault_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Fiat data.

In [110]:
fiat = pd.read_csv('data/fiat.csv')

In [111]:
fiat_tw = pd.DataFrame(fiat.text)

### Exploración inicial de los datos:

In [112]:
fiat_tw.shape

(5098, 1)

In [113]:
fiat_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5098 entries, 0 to 5097
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5098 non-null   object
dtypes: object(1)
memory usage: 40.0+ KB

In [114]:
fiat_tw.describe()

                                                     text
count                                                5098
unique                                               4976
top     @TheCryptoLark As an Iranian our national curr...
freq                                                   13

In [115]:
fiat_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [116]:
fiat_tw.duplicated().sum() # Encontramos 122 valores duplicados.

122

In [117]:
drop_duplicates(fiat_tw) # Eliminamos los valores duplicados.

In [118]:
fiat_tw.shape

(4976, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [119]:
fiat_tw['hashtags'] = fiat_tw.text.apply(extract_hashtags)

In [120]:
fiat_tw.head()

,text,hashtags
0,@TheMoonCarl #RoboWallet converts crypto to fi...,"[#RoboWallet, #Roboinu]"
1,@TapasCrypto @RoboInuFinance ROBO INU FINANCE ...,"[#ERC20, #RBIF, #NASA, #Roboinu, #RoboWarrior,..."
2,Fiat Panda 1.0 GSE Hybrid Cross https://t.co/f...,[]
3,"@TheVladCostea noun, the fiat\nverb, to fiat\n...",[]
4,Convert as much fiat into #Bitcoin as you can...,[#Bitcoin]

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [121]:
fiat_tw.head()

,text,hashtags
0,@TheMoonCarl #RoboWallet converts crypto to fi...,"[#RoboWallet, #Roboinu]"
1,@TapasCrypto @RoboInuFinance ROBO INU FINANCE ...,"[#ERC20, #RBIF, #NASA, #Roboinu, #RoboWarrior,..."
2,Fiat Panda 1.0 GSE Hybrid Cross https://t.co/f...,[]
3,"@TheVladCostea noun, the fiat\nverb, to fiat\n...",[]
4,Convert as much fiat into #Bitcoin as you can...,[#Bitcoin]

In [122]:
fiat_tw['text'] = fiat_tw.text.apply(basic_cleaning)

In [123]:
fiat_tw.head()

,text,hashtags
0,robo wallet converts crypto to fiat directly t...,"[#RoboWallet, #Roboinu]"
1,robo inu finance is an e r c two zero token rb...,"[#ERC20, #RBIF, #NASA, #Roboinu, #RoboWarrior,..."
2,fiat panda one zero gse hybrid cross ebay,[]
3,noun the fiat verb to fiat adjective fiat adve...,[]
4,convert as much fiat into bitcoin as you can t...,[#Bitcoin]

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [124]:
fiat_tw['brand_attribute'] = fiat_tw['text'].apply(data_groups)

In [125]:
fiat_tw.head()

,text,hashtags,brand_attribute
0,robo wallet converts crypto to fiat directly t...,"[#RoboWallet, #Roboinu]",price
1,robo inu finance is an e r c two zero token rb...,"[#ERC20, #RBIF, #NASA, #Roboinu, #RoboWarrior,...",price
2,fiat panda one zero gse hybrid cross ebay,[],quality
3,noun the fiat verb to fiat adjective fiat adve...,[],quality
4,convert as much fiat into bitcoin as you can t...,[#Bitcoin],price

In [126]:
fiat_tw.brand_attribute.value_counts()

price      3516
quality    1460
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [127]:
fiat_price = pd.DataFrame(fiat_tw.where(fiat_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [128]:
fiat_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [129]:
fiat_price.shape

(3516, 2)

In [130]:
# Exportamos el subset de precio.

fiat_price.to_csv('data/fiat_price.csv', index = False)

    2.2. Calidad:

In [131]:
fiat_quality = pd.DataFrame(fiat_tw.where(fiat_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [132]:
fiat_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [133]:
fiat_quality.shape

(1460, 2)

In [134]:
# Exportamos el subset de calidad.

fiat_quality.to_csv('data/fiat_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Ferrari data.

In [135]:
ferrari = pd.read_csv('data/ferrari.csv')

In [136]:
ferrari_tw = pd.DataFrame(ferrari.text)

### Exploración inicial de los datos:

In [137]:
ferrari_tw.shape

(600, 1)

In [138]:
ferrari_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    600 non-null    object
dtypes: object(1)
memory usage: 4.8+ KB

In [139]:
ferrari_tw.describe()

                                                     text
count                                                 600
unique                                                597
top     #Aerodynamics are for people who can’t build #...
freq                                                    3

In [140]:
ferrari_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [141]:
ferrari_tw.duplicated().sum() # Encontramos 3 valores duplicados.

3

In [142]:
drop_duplicates(ferrari_tw) # Eliminamos los valores duplicados.

In [143]:
ferrari_tw.shape

(597, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [144]:
ferrari_tw['hashtags'] = ferrari_tw.text.apply(extract_hashtags)

In [145]:
ferrari_tw.head()

                                                text hashtags
0  @1Adhughes @Tessasoldestson Mercedes achieved ...       []
1  If this rumour was about Ferrari nobody would ...       []
2  @sunnysideseb aaahhhh thank you so much bestie...       []
3  Motorsport Italia: Scuderia Ferrari successful...       []
4  @LBC Nick Ferrari using Ukraine as an excuse t...       []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [146]:
ferrari_tw.head()

                                                text hashtags
0  @1Adhughes @Tessasoldestson Mercedes achieved ...       []
1  If this rumour was about Ferrari nobody would ...       []
2  @sunnysideseb aaahhhh thank you so much bestie...       []
3  Motorsport Italia: Scuderia Ferrari successful...       []
4  @LBC Nick Ferrari using Ukraine as an excuse t...       []

In [147]:
ferrari_tw['text'] = ferrari_tw.text.apply(basic_cleaning)

In [148]:
ferrari_tw.head()

                                                text hashtags
0  mercedes achieved nearly six zero seven zero i...       []
1  if this rumour was about ferrari nobody would ...       []
2  aaahhhh thank you so much bestie i love that f...       []
3  motorsport italia scuderia ferrari successfull...       []
4  nick ferrari using ukraine as an excuse to red...       []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [149]:
ferrari_tw['brand_attribute'] = ferrari_tw['text'].apply(data_groups)

In [150]:
ferrari_tw.head()

                                                text hashtags brand_attribute
0  mercedes achieved nearly six zero seven zero i...       []         quality
1  if this rumour was about ferrari nobody would ...       []         quality
2  aaahhhh thank you so much bestie i love that f...       []         quality
3  motorsport italia scuderia ferrari successfull...       []         quality
4  nick ferrari using ukraine as an excuse to red...       []         quality

In [151]:
ferrari_tw.brand_attribute.value_counts()

quality    486
price      111
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [152]:
ferrari_price = pd.DataFrame(ferrari_tw.where(ferrari_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [153]:
ferrari_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [154]:
ferrari_price.shape

(111, 2)

In [155]:
# Exportamos el subset de precio.

ferrari_price.to_csv('data/ferrari_price.csv', index = False)

    2.2. Calidad:

In [156]:
ferrari_quality = pd.DataFrame(ferrari_tw.where(ferrari_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [157]:
ferrari_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [158]:
ferrari_quality.shape

(486, 2)

In [159]:
# Exportamos el subset de calidad.

ferrari_quality.to_csv('data/ferrari_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Lamborghini data.

In [160]:
lamborghini = pd.read_csv('data/lamborghini.csv')

In [161]:
lamborghini_tw = pd.DataFrame(lamborghini.text)

### Exploración inicial de los datos:

In [162]:
lamborghini_tw.shape

(5084, 1)

In [163]:
lamborghini_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5084 entries, 0 to 5083
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5084 non-null   object
dtypes: object(1)
memory usage: 39.8+ KB

In [164]:
lamborghini_tw.describe()

                                                     text
count                                                5084
unique                                               4967
top     Boys, they might have sexy muscles, or a shiny...
freq                                                    8

In [165]:
lamborghini_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [166]:
lamborghini_tw.duplicated().sum() # Encontramos 117 valores duplicados.

117

In [167]:
drop_duplicates(lamborghini_tw) # Eliminamos los valores duplicados.

In [168]:
lamborghini_tw.shape

(4967, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [169]:
lamborghini_tw['hashtags'] = lamborghini_tw.text.apply(extract_hashtags)

In [170]:
lamborghini_tw.head()

                                                text hashtags
0  @WholeMarsBlog @elonmusk this is getting old.....       []
1  @cibaiken @StarLinkETH @woof_decentra @Samsung...       []
2  @davidgokhshtein new coin did great things @sh...       []
3  @Crypto__Diva new coin did great things @shibt...       []
4  @kucoincom @MetisDAO @thewastedlands @ideaolog...       []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [171]:
lamborghini_tw.head()

                                                text hashtags
0  @WholeMarsBlog @elonmusk this is getting old.....       []
1  @cibaiken @StarLinkETH @woof_decentra @Samsung...       []
2  @davidgokhshtein new coin did great things @sh...       []
3  @Crypto__Diva new coin did great things @shibt...       []
4  @kucoincom @MetisDAO @thewastedlands @ideaolog...       []

In [172]:
lamborghini_tw['text'] = lamborghini_tw.text.apply(basic_cleaning)

In [173]:
lamborghini_tw.head()

                                                text hashtags
0  this is getting old where is the new roadster ...       []
1  use samsung phone and toshiba laptop buy on am...       []
2  new coin did great things burned five zero app...       []
3  new coin did great things burned five zero app...       []
4  new coin did great things burned five zero app...       []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [174]:
lamborghini_tw['brand_attribute'] = lamborghini_tw['text'].apply(data_groups)

In [175]:
lamborghini_tw.head()

                                                text hashtags brand_attribute
0  this is getting old where is the new roadster ...       []         quality
1  use samsung phone and toshiba laptop buy on am...       []           price
2  new coin did great things burned five zero app...       []           price
3  new coin did great things burned five zero app...       []           price
4  new coin did great things burned five zero app...       []           price

In [176]:
lamborghini_tw.brand_attribute.value_counts()

quality    3284
price      1683
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [177]:
lamborghini_price = pd.DataFrame(lamborghini_tw.where(lamborghini_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [178]:
lamborghini_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [179]:
lamborghini_price.shape

(1683, 2)

In [180]:
# Exportamos el subset de precio.

lamborghini_price.to_csv('data/lamborghini_price.csv', index = False)

    2.2. Calidad:

In [181]:
lamborghini_quality = pd.DataFrame(lamborghini_tw.where(lamborghini_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [182]:
lamborghini_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [183]:
lamborghini_quality.shape

(3284, 2)

In [184]:
# Exportamos el subset de calidad.

lamborghini_quality.to_csv('data/lamborghini_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Hyundai data.

In [185]:
hyundai = pd.read_csv('data/hyundai.csv')

In [186]:
hyundai_tw = pd.DataFrame(hyundai.text)

### Exploración inicial de los datos:

In [187]:
hyundai_tw.shape

(5096, 1)

In [188]:
hyundai_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5096 entries, 0 to 5095
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5094 non-null   object
dtypes: object(1)
memory usage: 39.9+ KB

In [189]:
hyundai_tw.describe()

                                                     text
count                                                5094
unique                                               5073
top     Hyundai x BTS: Message from V\n#BTS #태형 #Taehy...
freq                                                    5

In [190]:
hyundai_tw.isnull().sum()  # No existen nulos.

text    2
dtype: int64

In [191]:
hyundai_tw.dropna(inplace=True)  # Eliminamos nulos.

In [192]:
hyundai_tw.duplicated().sum() # Encontramos 21 valores duplicados.

21

In [193]:
drop_duplicates(hyundai_tw) # Eliminamos los valores duplicados.

In [194]:
hyundai_tw.shape

(5073, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [195]:
hyundai_tw['hashtags'] = hyundai_tw.text.apply(extract_hashtags)

In [196]:
hyundai_tw.head()

                                                text hashtags
0  @Liberebil @CarsSouthAfrica No, we get the sta...       []
1              Hyundai and Haval are competing mbela       []
2  @GreenpeaceEAsia @Greenpeace @ToyotaMotorCorp ...       []
3  HYUNDAI-ACCENT/XCENT-DISC ASSY-CLUTCH-41100262...       []
4  Hyundai i20 lovers \n\nJust pay as little as R...       []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [197]:
hyundai_tw.head()

                                                text hashtags
0  @Liberebil @CarsSouthAfrica No, we get the sta...       []
1              Hyundai and Haval are competing mbela       []
2  @GreenpeaceEAsia @Greenpeace @ToyotaMotorCorp ...       []
3  HYUNDAI-ACCENT/XCENT-DISC ASSY-CLUTCH-41100262...       []
4  Hyundai i20 lovers \n\nJust pay as little as R...       []

In [198]:
hyundai_tw['text'] = hyundai_tw.text.apply(basic_cleaning)

In [199]:
hyundai_tw.head()

                                                text hashtags
0  no we get the standard hyundai system i don t ...       []
1              hyundai and haval are competing mbela       []
2  transition to pure ev s is happening faster th...       []
3  hyundai accent xcent disc assy clutch four one...       []
4  hyundai i two zero lovers just pay as little a...       []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [200]:
hyundai_tw['brand_attribute'] = hyundai_tw['text'].apply(data_groups)

In [201]:
hyundai_tw.head()

                                                text hashtags brand_attribute
0  no we get the standard hyundai system i don t ...       []         quality
1              hyundai and haval are competing mbela       []         quality
2  transition to pure ev s is happening faster th...       []           price
3  hyundai accent xcent disc assy clutch four one...       []           price
4  hyundai i two zero lovers just pay as little a...       []           price

In [202]:
hyundai_tw.brand_attribute.value_counts()

quality    3356
price      1717
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [203]:
hyundai_price = pd.DataFrame(hyundai_tw.where(hyundai_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [204]:
hyundai_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [205]:
hyundai_price.shape

(1717, 2)

In [206]:
# Exportamos el subset de precio.

hyundai_price.to_csv('data/hyundai_price.csv', index = False)

    2.2. Calidad:

In [207]:
hyundai_quality = pd.DataFrame(hyundai_tw.where(hyundai_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [208]:
hyundai_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [209]:
hyundai_quality.shape

(3356, 2)

In [210]:
# Exportamos el subset de calidad.

hyundai_quality.to_csv('data/hyundai_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Peugeot data.

In [211]:
peugeot = pd.read_csv('data/peugeot.csv')

In [212]:
peugeot_tw = pd.DataFrame(peugeot.text)

### Exploración inicial de los datos:

In [213]:
peugeot_tw.shape

(1597, 1)

In [214]:
peugeot_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1597 entries, 0 to 1596
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1597 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

In [215]:
peugeot_tw.describe()

                                                     text
count                                                1597
unique                                               1563
top     @KyivPost UK closes sea ports to Russians ship...
freq                                                    4

In [216]:
peugeot_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [217]:
peugeot_tw.duplicated().sum() # Encontramos 34 valores duplicados.

34

In [218]:
drop_duplicates(peugeot_tw) # Eliminamos los valores duplicados.

In [219]:
peugeot_tw.shape

(1563, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [220]:
peugeot_tw['hashtags'] = peugeot_tw.text.apply(extract_hashtags)

In [221]:
peugeot_tw.head()

                                                text hashtags
0  @Space_Robot1 @eyeguy_one I experienced this l...       []
1  @AllegoCharging I am trying to request a charg...       []
2  @czechidiot @jackbyrne77 @Formula_Nerds @Jonas...       []
3  @JonasHut I have a hard time seeing him take t...       []
4  Peugeot 308 Raih Predikat Women’s World Car of...       []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [222]:
peugeot_tw.head()

                                                text hashtags
0  @Space_Robot1 @eyeguy_one I experienced this l...       []
1  @AllegoCharging I am trying to request a charg...       []
2  @czechidiot @jackbyrne77 @Formula_Nerds @Jonas...       []
3  @JonasHut I have a hard time seeing him take t...       []
4  Peugeot 308 Raih Predikat Women’s World Car of...       []

In [223]:
peugeot_tw['text'] = peugeot_tw.text.apply(basic_cleaning)

In [224]:
peugeot_tw.head()

                                                text hashtags
0  i experienced this last year when i was quoted...       []
1  i am trying to request a charger via your webs...       []
2  just peugeot s wec hypercar programme which ha...       []
3  i have a hard time seeing him take the haas se...       []
4  peugeot three zero eight raih predikat women s...       []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [225]:
peugeot_tw['brand_attribute'] = peugeot_tw['text'].apply(data_groups)

In [226]:
peugeot_tw.head()

                                                text hashtags brand_attribute
0  i experienced this last year when i was quoted...       []           price
1  i am trying to request a charger via your webs...       []           price
2  just peugeot s wec hypercar programme which ha...       []         quality
3  i have a hard time seeing him take the haas se...       []           price
4  peugeot three zero eight raih predikat women s...       []         quality

In [227]:
peugeot_tw.brand_attribute.value_counts()

quality    1233
price       330
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [228]:
peugeot_price = pd.DataFrame(peugeot_tw.where(peugeot_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [229]:
peugeot_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [230]:
peugeot_price.shape

(330, 2)

In [231]:
# Exportamos el subset de precio.

peugeot_price.to_csv('data/peugeot_price.csv', index = False)

    2.2. Calidad:

In [232]:
peugeot_quality = pd.DataFrame(peugeot_tw.where(peugeot_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [233]:
peugeot_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [234]:
peugeot_quality.shape

(1233, 2)

In [235]:
# Exportamos el subset de calidad.

peugeot_quality.to_csv('data/peugeot_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Ford data.

In [236]:
ford = pd.read_csv('data/ford.csv')

In [237]:
ford_tw = pd.DataFrame(ford.text)

### Exploración inicial de los datos:

In [238]:
ford_tw.shape

(5093, 1)

In [239]:
ford_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5093 entries, 0 to 5092
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5093 non-null   object
dtypes: object(1)
memory usage: 39.9+ KB

In [240]:
ford_tw.describe()

                                                     text
count                                                5093
unique                                               5084
top     @FordCanada I paid deposit with ford dealer  l...
freq                                                    3

In [241]:
ford_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [242]:
ford_tw.duplicated().sum() # Encontramos 9 valores duplicados.

9

In [243]:
drop_duplicates(ford_tw) # Eliminamos los valores duplicados.

In [244]:
ford_tw.shape

(5084, 1)

### Hashtags.

Queremos extraer los hastags de los tweets y almacenarlos en una nueva columna del DataFrame. Esto nos permitirá llevar a cabo un análisis específico de los hashtags una vez hecho el análisis del sentimiento de los tweets, relacionando el sentimiento con los hashtags utilizados en el tweet.

In [245]:
ford_tw['hashtags'] = ford_tw.text.apply(extract_hashtags)

In [247]:
ford_tw.head()

                                                text hashtags
0  We're incredibly excited to be boosting the Lo...       []
1  32NN66D Engine Cooling Fan Module Fits 2007-20...       []
2  68XQ36C Inlet and Outlet Assembly Oil Cooler H...       []
3  COVERKING CSC2S1-FD7258 Spacermesh Seat Covers...       []
4  Motorcraft 76YC88M Idle Air Control Valve Fits...       []

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user' ya que en principio el nombre de los usuarios no aporta información relevante para el modelo).
- Eliminamos urls.
- Convertimos dígitos a números escritos.
- Convertimos $ en 'dollars' y € en 'euros.
- Eliminamos valores no alfabéticos: # (aunque manteniendo el texto que viene después ya que puede contener información relevante), signos de puntuación...

Esta limpieza se ejecutará a través de nuestra función `basic_cleaning()`.

In [248]:
ford_tw.head()

                                                text hashtags
0  We're incredibly excited to be boosting the Lo...       []
1  32NN66D Engine Cooling Fan Module Fits 2007-20...       []
2  68XQ36C Inlet and Outlet Assembly Oil Cooler H...       []
3  COVERKING CSC2S1-FD7258 Spacermesh Seat Covers...       []
4  Motorcraft 76YC88M Idle Air Control Valve Fits...       []

In [249]:
ford_tw['text'] = ford_tw.text.apply(basic_cleaning)

In [250]:
ford_tw.head()

                                                text hashtags
0  we re incredibly excited to be boosting the lo...       []
1  three twonn six sixd engine cooling fan module...       []
2  six eightxq three sixc inlet and outlet assemb...       []
3  coverking csc twos one fd seven two five eight...       []
4  motorcraft seven sixyc eight eightm idle air c...       []

### Subsets.

En esta primera versión de la herramienta construiremos el mapa de posicionamiento en base a dos atributos de marca (variables): calidad y precio. Estos son los dos atributos básicos más utilizados de manera general en los mapas de posicionamiento (los mapas más sofisticados introducen ya otros atributos más específicos).

Para poder completar el proceso de mapeo, lo primero que debemos hacer es dividir los datos (tweets recopilados) en dos subsets: los que hacen referencia al precio y los que hacen referencia a la calidad. Una vez subdivididos, ya podremos introducir los datos en el modelo NLP para evaluar el sentimiento en cada subset.

La subdivisión nos permite diferenciar el sentimiento de los tweets que hablan del precio, del sentimiento en torno a la calidad general de la marca en cuestión. Esto es lo que haremos en esta etapa del proceso, en este caso sobre los tweets que mencionan a Nike.

1. Generamos una nueva columna que recoge la temática del tweet (atributo al que hace refencia).

In [251]:
ford_tw['brand_attribute'] = ford_tw['text'].apply(data_groups)

In [252]:
ford_tw.head()

                                                text hashtags brand_attribute
0  we re incredibly excited to be boosting the lo...       []         quality
1  three twonn six sixd engine cooling fan module...       []         quality
2  six eightxq three sixc inlet and outlet assemb...       []         quality
3  coverking csc twos one fd seven two five eight...       []         quality
4  motorcraft seven sixyc eight eightm idle air c...       []         quality

In [253]:
ford_tw.brand_attribute.value_counts()

quality    3755
price      1329
Name: brand_attribute, dtype: int64

2. Exportamos los subsets de Nike (uno de calidad y otro de precio).

    2.1. Precio:

In [254]:
ford_price = pd.DataFrame(ford_tw.where(ford_tw.brand_attribute=='price').dropna().drop('brand_attribute',axis=1))

In [255]:
ford_price.isnull().sum()

text        0
hashtags    0
dtype: int64

In [256]:
ford_price.shape

(1329, 2)

In [257]:
# Exportamos el subset de precio.

ford_price.to_csv('data/ford_price.csv', index = False)

    2.2. Calidad:

In [258]:
ford_quality = pd.DataFrame(ford_tw.where(ford_tw.brand_attribute=='quality').dropna().drop('brand_attribute',axis=1))

In [259]:
ford_quality.isnull().sum()

text        0
hashtags    0
dtype: int64

In [260]:
ford_quality.shape

(3755, 2)

In [261]:
# Exportamos el subset de calidad.

ford_quality.to_csv('data/ford_quality.csv', index = False)

**Nota importante:**

Aunque hemos exportado cada subset en archivos csv independientes (lo tenemos guardado de manera desagregada), en realidad trabajaremos con un único DataFrame que contenga todos los tweets analizados (los de todas las marcas y todos los atributos). En este DataFrame recogeremos en una columna la marca a la que hacen referencia y en otra columna el atributo al que se refieren (calidad y precio). Esto lo hacemos así porque nos permitirá agilizar mucho los procesos de visualización de resultados y obtener gráficos de mejor calidad (podremos filtrar en función de la marca y el atributo, al tiempo que manejamos un único DataFrame para mayor eficiencia).

## Dataset Completo.

Primero generamos una nueva columna en la que se recoja la marca a la que hace referencia el tweet (todos los valores de la columna serán 'nike' para el DataFrame de Nike, 'adidas' para el DataFrame de Adidas...).

#### Columna 'brand' para los datos de BMW.

In [200]:
bmw_tw.head()

,text,hashtags,brand_attribute
0,nobody cares about nike in russia russia is al...,[],quality
1,ye green nike hoodie waala two weeks pehle put...,[],quality
2,nike okundaye also knowns nike twins seven sev...,"[#womengiant, #Documentwomen]",quality
3,day four of maxmadness air max month nike air ...,"[#maxmadness, #AirMaxMonth, #airmaxgang, #kotd...",quality
4,thank you sir,[],quality

In [262]:
bmw_tw = bmw_tw.assign(brand='bmw')

In [263]:
bmw_tw.head()

,text,hashtags,brand_attribute,brand
0,i was told by bmw you need to replace the batt...,[],quality,bmw
1,a new listing for bmw e two eight m five engin...,[],quality,bmw
2,he only led a few hundert meters at the austri...,[],quality,bmw
3,russians making bmw seeking missiles it s over...,[],quality,bmw
4,does anyone want to hati will just get doyoung...,[],quality,bmw

#### Columna 'brand' para los datos de Audi.

In [264]:
audi_tw.head()

,text,hashtags,brand_attribute
0,audi r eightc sica zero oneb eu le mans nine n...,[],quality
1,wts want to sell tiket ptd bts cgv aeon mall j...,[],price
2,new scratch repair agent viscous scar remove q...,"[#New, #audi, #autos, #vehicle, #bhfyp]",price
3,the money u charge for the product u deliver i...,[],price
4,e t booking update coimbatore karpagam complex...,"[#ETBookingUpdate, #Coimbatore, #EtharkkumThun...",quality

In [265]:
audi_tw = audi_tw.assign(brand='audi')

In [266]:
audi_tw.head()

,text,hashtags,brand_attribute,brand
0,audi r eightc sica zero oneb eu le mans nine n...,[],quality,audi
1,wts want to sell tiket ptd bts cgv aeon mall j...,[],price,audi
2,new scratch repair agent viscous scar remove q...,"[#New, #audi, #autos, #vehicle, #bhfyp]",price,audi
3,the money u charge for the product u deliver i...,[],price,audi
4,e t booking update coimbatore karpagam complex...,"[#ETBookingUpdate, #Coimbatore, #EtharkkumThun...",quality,audi

#### Columna 'brand' para los datos de Volkswagen.

In [267]:
volkswagen_tw.head()

,text,hashtags,brand_attribute
0,just arrived volkswagen tiguan two zero diesel...,"[#UsedCars, #CarsForSale, #UsedCarsOxford, #Us...",price
1,glimpses of women s day celebrations at autoba...,"[#WomensDayCelebrations, #Celebrations]",quality
2,marshall v o l k s w a g e n vip four day sale...,[#VOLKSWAGEN],price
3,volkswagen presents their all new model virtus...,"[#PrintWorks, #PowerOfPrint, #PrintAdvertising...",quality
4,twopcs roof rail racks cross bars crossbars fi...,[],price

In [270]:
volkswagen_tw = volkswagen_tw.assign(brand='volkswagen')

In [271]:
volkswagen_tw.head()

,text,hashtags,brand_attribute,brand
0,just arrived volkswagen tiguan two zero diesel...,"[#UsedCars, #CarsForSale, #UsedCarsOxford, #Us...",price,volkswagen
1,glimpses of women s day celebrations at autoba...,"[#WomensDayCelebrations, #Celebrations]",quality,volkswagen
2,marshall v o l k s w a g e n vip four day sale...,[#VOLKSWAGEN],price,volkswagen
3,volkswagen presents their all new model virtus...,"[#PrintWorks, #PowerOfPrint, #PrintAdvertising...",quality,volkswagen
4,twopcs roof rail racks cross bars crossbars fi...,[],price,volkswagen

#### Columna 'brand' para los datos de Renault.

In [272]:
renault_tw.head()

,text,hashtags,brand_attribute
0,aren t you the person who failed the applicati...,[],quality
1,there are far better recycling solutions avail...,[],quality
2,some talented directors need to move their ass...,[],quality
3,an extra two five of people are now more likel...,"[#Google, #Renault]",price
4,well except the design of the moskvitch of cou...,[],quality

In [274]:
renault_tw = renault_tw.assign(brand='renault')

In [275]:
renault_tw.head()

,text,hashtags,brand_attribute,brand
0,aren t you the person who failed the applicati...,[],quality,renault
1,there are far better recycling solutions avail...,[],quality,renault
2,some talented directors need to move their ass...,[],quality,renault
3,an extra two five of people are now more likel...,"[#Google, #Renault]",price,renault
4,well except the design of the moskvitch of cou...,[],quality,renault

#### Columna 'brand' para los datos de Fiat.

In [276]:
fiat_tw.head()

,text,hashtags,brand_attribute
0,robo wallet converts crypto to fiat directly t...,"[#RoboWallet, #Roboinu]",price
1,robo inu finance is an e r c two zero token rb...,"[#ERC20, #RBIF, #NASA, #Roboinu, #RoboWarrior,...",price
2,fiat panda one zero gse hybrid cross ebay,[],quality
3,noun the fiat verb to fiat adjective fiat adve...,[],quality
4,convert as much fiat into bitcoin as you can t...,[#Bitcoin],price

In [277]:
fiat_tw = fiat_tw.assign(brand='fiat')

In [278]:
fiat_tw.head()

,text,hashtags,brand_attribute,brand
0,robo wallet converts crypto to fiat directly t...,"[#RoboWallet, #Roboinu]",price,fiat
1,robo inu finance is an e r c two zero token rb...,"[#ERC20, #RBIF, #NASA, #Roboinu, #RoboWarrior,...",price,fiat
2,fiat panda one zero gse hybrid cross ebay,[],quality,fiat
3,noun the fiat verb to fiat adjective fiat adve...,[],quality,fiat
4,convert as much fiat into bitcoin as you can t...,[#Bitcoin],price,fiat

#### Columna 'brand' para los datos de Ferrari.

In [279]:
ferrari_tw.head()

                                                text hashtags brand_attribute
0  mercedes achieved nearly six zero seven zero i...       []         quality
1  if this rumour was about ferrari nobody would ...       []         quality
2  aaahhhh thank you so much bestie i love that f...       []         quality
3  motorsport italia scuderia ferrari successfull...       []         quality
4  nick ferrari using ukraine as an excuse to red...       []         quality

In [280]:
ferrari_tw = ferrari_tw.assign(brand='ferrari')

In [281]:
ferrari_tw.head()

,text,hashtags,brand_attribute,brand
0,mercedes achieved nearly six zero seven zero i...,[],quality,ferrari
1,if this rumour was about ferrari nobody would ...,[],quality,ferrari
2,aaahhhh thank you so much bestie i love that f...,[],quality,ferrari
3,motorsport italia scuderia ferrari successfull...,[],quality,ferrari
4,nick ferrari using ukraine as an excuse to red...,[],quality,ferrari

#### Columna 'brand' para los datos de Lamborghini.

In [282]:
lamborghini_tw.head()

                                                text hashtags brand_attribute
0  this is getting old where is the new roadster ...       []         quality
1  use samsung phone and toshiba laptop buy on am...       []           price
2  new coin did great things burned five zero app...       []           price
3  new coin did great things burned five zero app...       []           price
4  new coin did great things burned five zero app...       []           price

In [283]:
lamborghini_tw = lamborghini_tw.assign(brand='lamborghini')

In [284]:
lamborghini_tw.head()

,text,hashtags,brand_attribute,brand
0,this is getting old where is the new roadster ...,[],quality,lamborghini
1,use samsung phone and toshiba laptop buy on am...,[],price,lamborghini
2,new coin did great things burned five zero app...,[],price,lamborghini
3,new coin did great things burned five zero app...,[],price,lamborghini
4,new coin did great things burned five zero app...,[],price,lamborghini

#### Columna 'brand' para los datos de Hyundai.

In [285]:
hyundai_tw.head()

                                                text hashtags brand_attribute
0  no we get the standard hyundai system i don t ...       []         quality
1              hyundai and haval are competing mbela       []         quality
2  transition to pure ev s is happening faster th...       []           price
3  hyundai accent xcent disc assy clutch four one...       []           price
4  hyundai i two zero lovers just pay as little a...       []           price

In [286]:
hyundai_tw = hyundai_tw.assign(brand='hyundai')

In [287]:
hyundai_tw.head()

,text,hashtags,brand_attribute,brand
0,no we get the standard hyundai system i don t ...,[],quality,hyundai
1,hyundai and haval are competing mbela,[],quality,hyundai
2,transition to pure ev s is happening faster th...,[],price,hyundai
3,hyundai accent xcent disc assy clutch four one...,[],price,hyundai
4,hyundai i two zero lovers just pay as little a...,[],price,hyundai

#### Columna 'brand' para los datos de Peugeot.

In [288]:
peugeot_tw.head()

                                                text hashtags brand_attribute
0  i experienced this last year when i was quoted...       []           price
1  i am trying to request a charger via your webs...       []           price
2  just peugeot s wec hypercar programme which ha...       []         quality
3  i have a hard time seeing him take the haas se...       []           price
4  peugeot three zero eight raih predikat women s...       []         quality

In [289]:
peugeot_tw = peugeot_tw.assign(brand='peugeot')

In [290]:
peugeot_tw.head()

,text,hashtags,brand_attribute,brand
0,i experienced this last year when i was quoted...,[],price,peugeot
1,i am trying to request a charger via your webs...,[],price,peugeot
2,just peugeot s wec hypercar programme which ha...,[],quality,peugeot
3,i have a hard time seeing him take the haas se...,[],price,peugeot
4,peugeot three zero eight raih predikat women s...,[],quality,peugeot

#### Columna 'brand' para los datos de Ford.

In [291]:
ford_tw.head()

                                                text hashtags brand_attribute
0  we re incredibly excited to be boosting the lo...       []         quality
1  three twonn six sixd engine cooling fan module...       []         quality
2  six eightxq three sixc inlet and outlet assemb...       []         quality
3  coverking csc twos one fd seven two five eight...       []         quality
4  motorcraft seven sixyc eight eightm idle air c...       []         quality

In [292]:
ford_tw = ford_tw.assign(brand='ford')

In [293]:
ford_tw.head()

,text,hashtags,brand_attribute,brand
0,we re incredibly excited to be boosting the lo...,[],quality,ford
1,three twonn six sixd engine cooling fan module...,[],quality,ford
2,six eightxq three sixc inlet and outlet assemb...,[],quality,ford
3,coverking csc twos one fd seven two five eight...,[],quality,ford
4,motorcraft seven sixyc eight eightm idle air c...,[],quality,ford

### Generamos dataset completo.

In [294]:
brands_tw = pd.concat([bmw_tw, audi_tw, volkswagen_tw, renault_tw, fiat_tw, ferrari_tw,
                       lamborghini_tw, hyundai_tw, peugeot_tw, ford_tw])

In [295]:
brands_tw.brand.value_counts()

ford           5084
hyundai        5073
bmw            5066
audi           5062
volkswagen     5026
fiat           4976
lamborghini    4967
renault        3805
peugeot        1563
ferrari         597
Name: brand, dtype: int64

### Exportamos el dataset completo.

In [296]:
brands_tw.to_csv('data/car_brands.csv', index = False)

In [297]:
# Exportamos con pickle para mantener todas las propiedades del DataFrame.

brands_tw.to_pickle('data/car_brands.pkl')