In [2]:
import pandas as pd

## Nike data.

In [3]:
nike = pd.read_csv('data/nike.csv')

In [27]:
nike_tw = pd.DataFrame(nike.text)

### Limpieza General:

In [28]:
nike_tw.shape

(29804, 1)

In [29]:
nike_tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29804 entries, 0 to 29803
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    29804 non-null  object
dtypes: object(1)
memory usage: 233.0+ KB

In [30]:
nike_tw.describe()

                     text
count               29804
unique              29276
top     @whatudohazz nike
freq                   59

In [31]:
nike_tw.isnull().sum()  # No existen nulos.

text    0
dtype: int64

In [32]:
nike_tw.duplicated().sum() # Encontramos 528 valores duplicados.

528

In [33]:
nike_tw.drop_duplicates(inplace = True)  # Eliminamos los valores duplicados.

In [34]:
nike_tw.shape

(29276, 1)

### Preparing Data.

**Limpieza básica:**
- Pasamos todo a minúsculas.
- Eliminamos usuarios ('@ + user').
- Eliminamos urls.

In [38]:
nike_tw.text[1]

'@PoojaPraharaj @IndiainUkraine @PMOIndia @MEAIndia Ye green NIKE hoodie waala ...2 weeks pehle Putin se disappointed tha...\nHe said Putin ne dhoka de diya\nHe was expecting Thrill from Putin\nAb jab thrill mil raha hai to darkhwaast kar raha hai\nHe is so shameless that he is still requesting and coming in video'

In [76]:
def basic_cleanning(string):
    
    string = string.lower().strip()     # Todo a minúsculas y quitamos espacios en los extremos.
    
    string = re.sub('http[^\s]*\s', ' ', string)   # Quitamos urls.
    
    string = re.sub('@[^\s]*\s', ' ', string)   # Eliminamos usuarios

    string = " ".join(re.findall('[a-z]+', string))

    return string

In [75]:
import re

url = 'http[^\s]*\s'

string = "@Ironhack's- #Q website 776-is http://ironhack.com [(2018)]"

string = string.lower().strip()

string = re.sub(url, ' ', string)

string = re.sub('@[^\s]*\s', ' ', string)

string = " ".join(re.findall('[a-z]+', string))

string

'q website is'

In [77]:
basic_cleanning("@Ironhack's- #Q website 776-is http://ironhack.com [(2018)]")

'q website is'